<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/ilen-tech/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <!-- li>
                        <a href="/blog.html">Blog</a>
                    </li -->
                    <li>
                        <a class="page-scroll" href="/ilen-tech/#about">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/ilen-tech/our_story.html">Our Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/ilen-tech/#about_us">About</a>
                    </li>            
                    <li>
                        <a class="page-scroll" href="/ilen-tech/#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
